<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="_content/Semantico.UI/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="_content/Semantico.UI/app.css"/>
    <link rel="stylesheet" href="_content/Semantico.UI/styles.css" />
    <link href="./_content/Semantico.UI/highlight/styles/github.css" rel="stylesheet">
    <link href="./_content/Semantico.UI/highlight/styles/github-dark.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="favicon.png"/>
    <HeadOutlet/>
    <title>Semantico by Moberg</title>
</head>

<body>
<Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="./_content/Semantico.UI/highlight/highlight.js"></script>
</body>

</html>