<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
	<EnableSdkContainerSupport>true</EnableSdkContainerSupport>
	<WebPublishMethod>Container</WebPublishMethod>
	<ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:7.0</ContainerBaseImage>
	<ContainerImageTags>$(Version);latest</ContainerImageTags>
	<ContainerRegistry>ghcr.io</ContainerRegistry>
	<ContainerRepository>moberghr/semantico</ContainerRepository>
  </PropertyGroup>
  <ItemGroup>
	<ContainerPort Include="80" Type="tcp" />
  </ItemGroup>
</Project>